springwspoc/src/main/webapp/schemas/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservices.samples.com" targetNamespace="http://webservices.samples.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="User" type="User"/>
	<xs:complexType name="User">
		<xs:sequence>
			<xs:element name="username" type="xs:string"/>
			<xs:element name="email" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
